<!DOCTYPE html>

<!-- Please, PLEASE - understand this is satire... -->

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TheBest.pw - The Best Password Generation Site</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
  improve your experience.</p>
<![endif]-->

<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">TheBest.pw - Password Generation</h1>
    <!-- <nav>
      <ul>
        <li><a href="#">nav ul li a</a></li>
        <li><a href="#">nav ul li a</a></li>
        <li><a href="#">nav ul li a</a></li>
      </ul>
    </nav>-->
  </header>
</div>

<div class="main-container">
  <div class="main wrapper clearfix">

    <article>
      <header>
        <h1>Password Generation</h1>

        <p>TheBest.pw uses the most advanced, military-grade TrueRandom&trade; technology to create the safest, most secure
         passwords possible. We researched password generators from around the world, took the best features of each
         and combined them with once-secret military technology.</p>

        <p>As the Asian Pacific Threat (known as APT to industry insiders) grows, and the Chinese military hacks US
          companies and steals billions of dollars of intellectual property everyday, it's more important than ever
          to ensure that we strong passwords.</p>

        <p>So that's why we created this tool. We have to stop APT!</p>
      </header>
      <section>
        <h2>Your Password</h2>

        <p>Here's your, unique, password. Generated using our completely random, 100% entropy system:</p>

        <!-- For the love of god... please don't use of these.. PLEASE -->
        <p><code style="color: darkred"><%= ['B3T!zJk!QrJVnx!Coj', 'jYL#%w70HSsM8zBgP!', 's@qW2PnuZZye%QlR#i',
                      'AM9at6ThcObMX8^*ts', '^iMd3Mr8^emyp@4NnG', 's*mla7qM1i%HhaKn8S',
                      'UPs#fNmCP4W74moi04', 'SB8A4!@gnMhNs&EA4E', '22*dHIDaeL^&Yz7JZ@'].sample %></code></p>
      </section>
      <section>
        <h2>Uncrackable Length</h2>

        <p>At 18 digits, that's 256 bits of entropy; experts estimate it would take over 10,000 YEARS to crack these
          passwords. Thanks to our proven, expert reviewed, <em>Fractal Curve Primes</em> based TrueRandom&trade;
          technology, you can rest assured that you're password will never be stolen.</p>

        <p>You can safely use this password for every site and service you use without fear. Since it's <em>so</em>
          strong, you can even stop changing your password! Why risk changing your password when it's already
          uncrackable?</p>

        <p>Companies love our service so much, we'll soon offer an Enterprise subscription that will email all of your
          employees a new secure password! Automatically! All your users will have to do is wait for the email, we can
          even remotely reset/set their passwords for you! (All you'll need to do is email us your domain admin
          password.)</p>
      </section>
      <section>
        <h2>What about SSL?</h2>

        <p>SSL has been proven to be flawed thanks to the recent discovery of a flaw in the RC4 encryption algorithm. As
          a result, we have disable SSL and switched to using a propriety encryption system implemented purely in
          Javascript. This encryption system is based on that used by the hit file sharing service
          <a href="https://mega.co.nz/">Mega</a>, though we've improved on the system by using our own, complete
          custom algorithms to ensure that attackers won't know how to decrypt the data.</p>

        <p>We figure if you can't trust the code running in your browser, what can you trust?</p>
      </section>
      <footer>
        <h3>Expert Reviewed</h3>

        <p>Over two dozen experts have reviewed our technology to ensure that it's secure, and completely defect
          free. In every test, experts have found no flaws, and validated that our random values are truly, completely,
          random.</p>

        <p>To further eliminate any risk of bias, the values produced via our proprietary Fractal Curve Prime algorithm
          is then processed via our patented <a href='/wtf'>Wave Transform Factor</a> algorithm.
          This guarantees 100% entropy.</p>
      </footer>
    </article>

    <aside>
      <h3>TrueRandom&trade; Technology</h3>

      <p>While other companies rely on primitive "pseudo" random number generators, that often produce predictable
        output, our password generator is based on proven technology that until recently was available only to the
        military.</p>

      <p>We use the proven power of <em>Fractal Curve Primes</em> - the most effective source of truly random numbers, now
        available to the general public!</p>
    </aside>

  </div>
  <!-- #main -->
</div>
<!-- #main-container -->

<div class="footer-container">
  <footer class="wrapper">
    <h3>Copyright (c) 2013 The Center for Advanced Random Password Generation, T.z.o.U.</h3>
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="js/main.js"></script>

<script>
  var _gaq = [
    ['_setAccount', 'UA-XXXXX-X'],
    ['_trackPageview']
  ];
  (function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
  }(document, 'script'));
</script>
</body>
</html>
